@model IEnumerable<COMP2007FinalAssingment.Models.Product>
@{
    ViewBag.Title = "Store";
    string tempImg;
    
}

<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                <li>Store</li>
            </ul>
        </div>

        <div class="col-md-3">

            <!-- *** MENUS AND FILTERS ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li>
                            <a href="@Url.Action("index", new { filter = "" })">View All <span class="badge pull-right"></span></a>
                            
                        </li>
                        <hr />
                        <li>
                            <a href="#">Brands <span class="badge pull-right"></span></a>
                            <ul>
                                @foreach (var item in ViewBag.Brands) { 
                                <li>
                                    <a href="@Url.Action("index", new { filter = @item.Title })">@item.Title</a>
                                </li>
                                }
                               
                            </ul>
                        </li>
                        <li>
                            <a href="#">Goals  <span class="badge pull-right"></span></a>
                            <ul>
                                @foreach (var item in ViewBag.Goals)
                                {
                                <li>
                                    <a href="@Url.Action("index", new { filter = @item.Title })">@item.Title</a>
                                </li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="#">Main Ingredient  <span class="badge pull-right"></span></a>
                            <ul>
                                @foreach(var item in ViewBag.Ingredients) { 
                                <li>
                                    <a href="@Url.Action("index", new { filter = @item.Title })">@item.Title</a>
                                </li>
                                }
                            </ul>
                        </li>

                    </ul>

                </div>
            </div>


            <!-- *** MENUS AND FILTERS END *** -->

            <div class="banner">
                <a href="#">
                    <img src="../Assets/img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="box">
                <h1>Store</h1>
                <p>In our store we offer wide selection of the best products we have found and carefully selected worldwide.</p>
            </div>
            
            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Showing <strong>@ViewData["itemCount"]</strong> of <strong>@ViewData["itemCount"]</strong> products
                    </div>

                    <div class="col-sm-12 col-md-8  products-number-sort">
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-number">
                                        <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="products-sort-by">
                                        <strong>Sort by</strong>
                                        @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm })
                                        @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParm })

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row products">
                @foreach (var item in Model) {
                    if(@item.Image == null)
                    {
                        tempImg = "../Assets/img/placeholder-450-600.jpg";
                    }
                    else
                    {
                        tempImg = item.Image;
                    }
                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="@Url.Action("Details","Products", new { id = @item.ProductID })">
                                        <img src="@tempImg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="@Url.Action("Details","Products", new { id = @item.ProductID })">
                                        <img src="@tempImg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Details","Products", new { id = @item.ProductID })" class="invisible">
                            <img src="@tempImg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="@Url.Action("Details","Products", new { id = @item.ProductID })">@item.Title</a></h3>
                            <p class="price">$ @item.Price</p>
                            <p class="buttons">
                                <a href="@Url.Action("Details","Products", new { id = @item.ProductID })" class="btn btn-default">View detail</a>
                                <a href="@Url.Action("AddToCart","ShoppingCart",new { id = item.ProductID })" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                
                                
                            </p>
                        </div>
                        <!-- /.text -->
                    </div>
                    <!-- /.product -->
                </div>
                }
                <!--
                <div class="col-md-4 col-sm-6">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="detail.html">
                                        <img src="img/product2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="detail.html">
                                        <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="detail.html" class="invisible">
                            <img src="img/product2.jpg" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="detail.html">White Blouse Armani</a></h3>
                            <p class="price"><del>$280</del> $143.00</p>
                            <p class="buttons">
                                <a href="detail.html" class="btn btn-default">View detail</a>
                                <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </p>
                        </div>
                   

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                  

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                   

                        <div class="ribbon gift">
                            <div class="theribbon">GIFT</div>
                            <div class="ribbon-background"></div>
                        </div>
                      
                    </div>
                    
                </div> -->

               
                <!-- /.col-md-4 -->
            </div>
            <!-- /.products -->

          <!-- <div class="pages">

                <p class="loadMore">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                </p>

                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>--> 


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
